.Button {
    color: white !important;
    background-color: $payAnywhereColor !important;
    display: -webkit-inline-box !important;
    justify-content: flex-end !important;
    padding: 0 !important;
    margin-bottom: 20px;
    margin-right: 20px;
    span {
      .Arrow {
        background-color: $payAnywhereAlternativeColor !important;
        height: 36px !important;
        width: 25px !important;
        svg {
          padding-top: 5px !important;
        }
      }
      .Label {
        padding: 10px 20px;
      }
    }
  }
  
  .buttonWrapper {
    display: flex;
  
    @include phone {
      display: block;
    }
  }
  
  .counterButton {
    width: 20px !important;
    height: 28px !important;
  }
  
  .counter {
    padding: 0 10px;
    margin: 0 5px;
  }